.formWrapper {
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px; /* 패딩 조정 */
  gap: 10px; /* 요소들 사이의 간격 */
}

.label {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
}

.optionList {
  display: flex;
  flex-wrap: wrap; /* 필요시 여러 줄로 나누어 표시 */
  gap: 10px; /* 버튼 사이 간격 */
}

.selectedOptionBtn {
  padding: 5px 14px;
  border: none;
  width: 9rem;
  border-radius: 4px;
  background-color: var(--main-theme-color);
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.optionBtn {
  padding: 5px 14px;
  border: none;
  width: 9rem;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.optionBtn:hover {
  background-color: rgba(11, 232, 188, 0.944);
  color: #fff;
}

@media (max-width: 767px) {
  .formWrapper {
    width: 300px;
  }
}
