.cardContainer {
  width: 100%; /* 컨테이너의 너비를 조정하거나, 반응형으로 설정할 수 있습니다. */
  margin: auto; /* 중앙 정렬을 위해 */
  border-radius: 8px; /* 선택적: 모서리 둥글게 */
  overflow: hidden; /* 이미지 또는 컨텐츠가 컨테이너를 벗어나지 않도록 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 선택적: 그림자 효과 */
  max-height: 1000px;
}

.imgWrapper {
  position: relative;
  width: 100%;
  overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 함 */
}

.img {
  width: 100%; /* 컨테이너의 너비에 맞게 조정 */
  height: auto; /* 이미지의 높이가 자동으로 조정되도록 함 */
  display: block;
}

.overlayContent {
  position: absolute;
  top: 0; /* 이미지의 상단에 위치 */
  left: 0; /* 이미지의 좌측에 위치 */
  width: 100%; /* 컨테이너 너비에 맞게 조정 */
  color: #fff; /* 텍스트 색상은 흰색 */
  background-color: rgba(0, 0, 0, 0.7); /* 검은색 반투명 배경 */
  padding: 10px; /* 내용 주위에 패딩 추가 */
}

.overlayContent p:first-child {
  font-size: 2.4rem;
  font-weight: bold;
}

.overlayContent p:last-child {
  font-size: 1.8rem;
  font-weight: bold;
}
