.wrapper {
  position: relative;
  width: 50vw;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.singleCard {
  display: flex;
  flex: 0 0 auto; /* 카드가 flex 컨테이너 안에서 확장/축소되지 않도록 설정 */
  width: 50vw;
}

.singleCard:last-child {
  margin-right: 0;
}
