.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  background: white;
  width: 100vw;
}

.searchBox {
  width: 90%;
  padding: 15px 20px;
  align-items: center;
  margin: auto;
  border-radius: 30px;
  background-color: #f6f3f3;
  display: flex;
  color: #bbbbbb;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
}

.input {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
  width: 80%;
}

.input:focus {
  border: none;
}
