.imgContainer {
  position: relative; /* 컨테이너 내에서 절대 위치 지정을 위한 기준점 */
  width: 100%; /* 혹은 원하는 특정 너비, 예: 200px */
  padding-top: 100%; /* 너비와 동일한 비율로 높이를 설정, 정사각형 형태 */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* cardDetails의 초기 스타일 */
.imgContainer .cardDetails {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5); /* 배경색 */
  overflow: hidden;
  width: 100%;
  height: 100%; /* 높이 */
  transition: width 0.5s ease, opacity 0.5s ease;
}

/* 마우스 호버 시 배경 확장 애니메이션 */
.imgContainer:hover .cardDetails {
  opacity: 1; /* 호버 시 투명도 변경 */
}

/* cardDetails 내용의 스타일 */
.cardDetails {
  content: attr(data-name);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  padding: 10px;
}
