.photoZone {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.mt {
  margin-top: 100px;
}

.nonePost {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: 700;
}

.card {
  width: 23%;
  margin: 5px;
}

@media (max-width: 1250px) {
  .card {
    width: 30%;
    margin: 5px;
  }
}

@media (max-width: 1025px) {
  .card {
    width: 40%;
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .card {
    width: 90%;
    margin: 5px;
  }
}

.wait {
  margin-top: 50px;
  width: 100%;
  height: 10vh;
}
