.card {
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 10px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header span {
  font-size: 2rem;
  font-weight: bold;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.stat {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.stat span {
  font-size: 1.4rem;
  font-weight: 500;
}

.username {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.thumbnailGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5개의 컬럼으로 고정 */
  gap: 4px;
}

.thumbnailGrid img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
