.MainCategoryTap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scrollContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.categoryItem {
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 1.3rem;
  color: #a09cab;
  cursor: pointer;
}

.selected {
  color: #12b193;
}

.categoryLabel :hover {
  color: #12b193;
}

.categoryIcon {
  font-size: 30px !important;
}

.filterButton {
  /* border: 1px #12b193 solid; */
  border-radius: 10px;
  /* padding: 0.5rem 2.5rem; */
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  font-size: 2rem;
  color: #a09cab;
  justify-content: end;
  min-width: 10%;
}

.filterButton:hover {
  color: #12b193;
}

.scrollButton {
  position: absolute;
  top: 20%;
  left: 1rem;
}

.ScrollButtonRight {
  position: absolute;
  display: flex;
  top: 12%;
  right: 28rem;
  z-index: 20;
}

.ScrollButtonLeft {
  position: absolute;
  display: flex;
  top: 12%;
  left: 1rem;
  z-index: 20;
}

@media (max-width: 940px) {
  .ScrollButtonRight {
    right: 7rem;
  }
}
