.btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid var(--main-theme-color);
  border-radius: 8px;
  padding: 3px 10px;
  font-size: 1.4rem;
  font-weight: 400;
  color: black; /* 버튼 텍스트의 색상을 검정색으로 지정 */
}
