.header {
  position: absolute;
  z-index: 100;
  padding: 10px;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--main-theme-color);
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.optionItem {
  flex: 0 0 auto;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--main-theme-color);
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.optionItem span {
  white-space: nowrap;
}

.optionItem.active {
  background-color: var(--main-theme-color);
  color: white;
}
