.headerWrapper {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  z-index: 100;
  background-color: white;
}

.option {
  color: #d9d9d9;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 20px;
  border-top: 2px solid rgba(21, 196, 162, 0);
}

.option.selected {
  border-top: 2px solid rgba(21, 196, 162, 1);
  color: var(--main-theme-color);
}
