.mainPhoto {
  width: 100%;
  height: 40vh;
  border-radius: 9px;
  min-height: 40vh;
  min-width: 100%;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 40vh;
  border-radius: 9px;
  min-height: 40vh;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.cardImg {
  position: relative;
}

.photoButtonSet {
  position: absolute;
  display: none;
  justify-content: space-between;
  width: 95%;
  top: 40%;
  left: 1rem;
}

.cardImg:hover .photoButtonSet {
  display: flex !important;
}

.cardImg:hover .index {
  display: flex !important;
}

.photoInfo {
  margin: 5px 1rem;
}

.goodNumber {
  display: flex;
  align-items: center;
}

.index {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 5%;
  /* left: 1rem; */
}
