.container {
  width: 300px;
  height: 350px;
  cursor: pointer;
}

.container:hover {
  background-color: #d9d9d9;
  border-radius: 9px;
}

.mainPhoto {
  margin-top: 5px;
  width: 270px;
  height: 270px;
  border-radius: 9px;
  overflow: hidden;
}

.carousel {
  width: 300px;
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardImg {
  position: relative;
}

.photoButtonRight {
  position: absolute;
  display: none;
  top: 40%;
  right: 1rem;
}

.photoButtonLeft {
  position: absolute;
  display: none;
  top: 40%;
  left: 1rem;
}

.cardImg:hover .photoButtonRight {
  display: flex !important;
}

.cardImg:hover .photoButtonLeft {
  display: flex !important;
}

.cardImg:hover .index {
  display: flex !important;
}

.photoInfo {
  margin: 5px 1rem;
}

.goodNumber {
  display: flex;
  align-items: center;
}

.index {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 5%;
  /* left: 1rem; */
}

.bottomBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.1rem;
  justify-content: space-between;
  padding-bottom: 10px;
}

.regionText {
  display: flex;
  align-items: center;
}

.conceptText {
  border-radius: 10px;
  border: none;
  background-color: #13c4a3;
  color: white;
  padding: 5px;
}
