.container {
  padding-top: 10px;
  width: 300px;
  height: 350px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container:hover {
  background-color: #d9d9d9;
  border-radius: 9px;
}

.mainPhoto {
  width: 270px;
  min-width: 270px;
  max-width: 270px;
  height: 270px;
  min-height: 270px;
  max-height: 270px;
  border-radius: 9px;
  object-fit: cover;
}

.carousel {
  width: 270px;
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.cardImg {
  position: relative;
}

.photoButtonRight {
  position: absolute;
  display: none;
  top: 41%;
  right: 1rem;
}

.photoButtonLeft {
  position: absolute;
  display: none;
  top: 40%;
  left: 1rem;
}

.container:hover .photoButtonRight {
  display: flex !important;
}

.container:hover .photoButtonLeft {
  display: flex !important;
}

.container:hover .index {
  display: flex !important;
}

.photoInfo {
  margin: 5px 1rem;
  width: 88%;
}

.goodNumber {
  display: flex;
  align-items: center;
}

.index {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 5%;
  /* left: 1rem; */
}

.bottomBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.1rem;
  justify-content: space-between;
  padding-bottom: 10px;
}

.regionText {
  display: flex;
  align-items: center;
}

.conceptText {
  border-radius: 10px;
  border: none;
  background-color: #13c4a3;
  color: white;
  padding: 5px;
}

.itemTitle {
  width: 270px;
  font-size: 1.7rem;
  text-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
