.container {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: row;
  padding-top: 75px;
}

.sideComponent {
  flex: 1; /* 양쪽 사이드 컴포넌트의 크기를 같게 설정 */
}

.mainComponent {
  flex: 2; /* 가운데 주요 컴포넌트의 크기를 사이드 컴포넌트보다 크게 설정 */
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
