.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  box-sizing: border-box;
}

.sideComponent {
  flex: 1; /* 양쪽 사이드 컴포넌트의 크기를 같게 설정 */
  height: calc(100vh - 70px);
  overflow: hidden;
}

.mainComponent {
  flex: 2; /* 가운데 주요 컴포넌트의 크기를 사이드 컴포넌트보다 크게 설정 */
  height: 100%;
  overflow: hidden;
  height: calc(100vh - 70px);
}
