.conceptBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.conceptList {
  background-color: #eff1f5;
  margin: 10px;
  width: 25vw;
  padding: 15px;
  border-radius: 12px;
  font-size: 1.5rem;
}

/* .conceptBox :hover {
  background-color: #13c4a3;
} */

.selected {
  background-color: #13c4a3 !important;
}
