.singleCommentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.commentInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profileImg {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.profileImg img {
  width: 30px;
}

.commentDetail {
  margin-left: 10px;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
}

.contents {
  font-size: 1.2rem;
}
