.wrapper {
  width: 100vw;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
}

.profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  min-width: 400px;
  max-width: 600px;
}

.profileCard {
  border: 1px solid #ccc;
}

.userHistoryWrapper {
  flex-grow: 1;
  height: calc(100vh - 75px);
  overflow: scroll;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
