.wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.profileWrapper {
  position: sticky;
  top: 300px;
  min-width: 400px;
  max-width: 600px;
  padding: 40px 20px;
}
.userHistoryWrapper {
  flex-grow: 1;
  padding: 20px;
}
