.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: auto;
  height: auto;
  max-width: 800px;
  min-width: 300px;
  max-height: 80vh;
  min-height: 100px;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  transition: all 0.2s ease;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.header span {
  font-size: 1.6rem;
  font-weight: bold;
}
